{% extends "base.html" %}

{% block content %}
<h2>Productos Disponibles</h2>

<ul>
    <li>Laptop HP</li>
    <li>Celular Samsung</li>
    <li>Audífonos Bluetooth</li>
</ul>

{% endblock %}
<!-- templates/form_producto.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Nuevo Producto</title>
</head>
<body>
    <h1>Agregar Nuevo Producto</h1>
    <form method="post">
        ID: <input type="number" name="id" required><br>
        Nombre: <input type="text" name="nombre" required><br>
        Cantidad: <input type="number" name="cantidad" required><br>
        Precio: <input type="number" step="0.01" name="precio" required><br>
        <input type="submit" value="Agregar">
    </form>
</body>
</html>